/*Base Vars*/
@fontSize: 13px;


/*模式边框颜色*/
@mode-success-border-color: #3e8f3e;
@mode-warning-border-color: #e38d13;
@mode-info-border-color: #28a4c9;
@mode-danger-border-color: #d9534f;
@mode-primary-border-color: #c42818;
@mode-disabled-border-color: #dddee1;
@mode-default-border-color: #c6c6c6;

/*模式背景颜色*/
@mode-success-bg-color: #47a447;
@mode-warning-bg-color: #ed9c28;
@mode-info-bg-color: #39b3d7;
@mode-danger-bg-color: #d9534f;
@mode-primary-bg-color: #df2e1b;
@mode-disabled-bg-color: #f7f7f7;
@mode-default-bg-color: #dbdbdb;

/*模式字体颜色*/
@mode-success-font-color: #ffffff;
@mode-warning-font-color: #ffffff;
@mode-info-font-color: #ffffff;
@mode-danger-font-color: #ffffff;
@mode-primary-font-color: #ffffff;
@mode-disabled-font-color: #bbbec4;
@mode-default-font-color: #777777;
