.aside{
    position: fixed;
    z-index: 1986;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: all .3s ease;
    // 背景
    .modal-background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-color: hsla(0,0%,4%,.86);
    }

    .close{
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      cursor: pointer;
      filter: alpha(opacity=20);
      opacity: .2;
      font-family: Arial,sans-serif;
    }
    .close:focus, .close:hover{
      filter: alpha(opacity=50);
      opacity: .5;
    }
    .modal-card{
      width: 450px;
      max-width: 100%;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      max-height: 100%;
      border-radius: 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
      .modal-card-body {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
        padding: 20px;
      }
      .modal-card-head, .modal-card-foot{
        border-radius: 0;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        padding: 20px;
        position: relative;
      }
      .modal-card-head {
        border-bottom: 1px solid hsla(210,8%,51%,.13);
        .modal-card-title {
          color: #363636;
          flex-grow: 1;
          flex-shrink: 0;
          font-size: 16px;
          line-height: 1;
        }
      }
      .modal-card-foot {
        border-top: 1px solid hsla(210,8%,51%,.13);
        justify-content: flex-end;

        .button:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    &.aside-right{
      .modal-card{
        left: auto;
        right: 0;
      }
    }
  }