* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow: hidden;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.radius3px {
    border-radius: 3px;
}

.radius5px {
    border-radius: 5px;
}

.radius7px {
    border-radius: 7px;
}

.radius10px {
    border-radius: 10px;
}

.radiusCircle {
    border-radius: 100000px;
}

.common-box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}