* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow: hidden;
}

.k-animate-fadeIn {
    opacity: 0.3;
}

.k-animate-fadeOut {
    opacity: 0;
}