.data-table{
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;

    // 是否带有边框
    &.is-bordered {
      th, td {
        border: 1px solid #e9e9e9;
      }
    }
    // 是否带有斑马线
    &.is-striped {
      tr {
        &:nth-child(even) {
          background-color: #FAFBFC;
        }
      }
    }
    // wtf
    &.is-narrow {}

    th {
      border-bottom: 1px solid #e9e9e9;
      background-color: #FAFBFC;
      padding: 10px 8px;
    }

    td {
      border-bottom: 1px solid #e9e9e9;
      padding: 10px 8px;
    }

    td, th{
      word-wrap: break-word;
      word-break: break-all;
    }
    thead tr{
      background-color: #f6f7f8;
      .icon{
        vertical-align: middle;
      }
      .filter-key{
        cursor: pointer;
      }
      .is-sorting{
        background-color: #fafafa;
      }
      th{
        position: relative;
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
    .sortable{
      cursor: pointer;
      &:hover{
        background-color: #fafafa;
      }
    }
    .sort-trigger{
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -10px;
      .fa{
        vertical-align: baseline;
      }
      &.sort-asc{
        margin-top: -6px;
      }
      &.sort-desc{
        margin-top: -13px;
      }
    }
  }
  .data-table-header{
    .data-table{
      margin-bottom: 0;
      th{
        border-bottom: none;
      }
    }
  }
  .table.is-bordered{
    th{
      border-color: #e6e3e3;
    }
  }
  .table-toolbar{
    &.level{
      margin-bottom: 10px;
    }
  }